<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/Home.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <title>Giỏ Hàng</title>
  </head>
  <body>
    <!-----------------------------Header-------------------------------->
    <header>
      <div class="header-top">
        <div class="logo">
          <a href=""><img src="images/icon/Pet Accessories & Food.png" /></a>
        </div>
        <div class="menu">
          <li>
            <a href=""
              >THỨC ĂN <br />
              CHO CHÓ</a
            >
            <ul class="sub-menu">
              <li><a href="">THỨC ĂN HẠT CHO CHÓ</a></li>
              <li><a href="">PATE CHO CHÓ</a></li>
              <li>
                <a href="">BÁNH THƯỜNG <br />& ĂN VẶT CHO CHÓ</a>
              </li>
            </ul>
          </li>
          <li>
            <a href=""
              >THỨC ĂN <br />
              CHO MÈO</a
            >
            <ul class="sub-menu">
              <li><a href="">THỨC ĂN HẠT CHO MÈO</a></li>
              <li><a href="">PATE CHO MÈO</a></li>
              <li>
                <a href="">BÁNH THƯỜNG<br />& ĂN VẶT CHO MÈO</a>
              </li>
            </ul>
          </li>
          <li>
            <a href=""
              >PHỤ KIỆN <br />
              CHO CHÓ</a
            >
            <ul class="sub-menu">
              <li><a href="">QUẦN ÁO CHO CHÓ</a></li>
              <li><a href="">VÒNG CỔ & DÂY DẮT CHO CHÓ</a></li>
              <li><a href="">ĐỒ CHƠI & HUẤN LUYỆN CHO CHÓ</a></li>
              <li><a href="">BALO & TÚI ĐỰNG CHO CHÓ</a></li>
            </ul>
          </li>
          <li>
            <a href=""
              >PHỤ KIỆN <br />
              CHO MÈO</a
            >
            <ul class="sub-menu">
              <li><a href="">QUẦN ÁO CHO MÈO</a></li>
              <li><a href="">VÒNG CỔ & DÂY DẮT CHO MÈO</a></li>
              <li><a href="">ĐỒ CHƠI & HUẤN LUYỆN CHO MÈO</a></li>
              <li><a href="">BALO & TÚI ĐỰNG CHO MÈO</a></li>
            </ul>
          </li>
          <li><a href="">THƯƠNG HIỆU</a></li>
          <li><a href="">LIÊN HỆ</a></li>
        </div>
        <div class="others">
          <li>
            <a href="http://localhost:8080/cart" class="shopping-bag"
              ><ion-icon name="bag-handle"></ion-icon
            ></a>
          </li>
          <li>
            <a href="http://localhost:8080/register" class="user"
              ><ion-icon name="person"></ion-icon>
              <p>Đăng nhập/ Đ.kí</p></a
            >
          </li>
        </div>
      </div>
      <div class="searchs">
        <input
          placeholder="Tìm kiếm sản phẩm..."
          type="input"
          class="search"
          name=""
          maxlength="40"
          size="20"
        />
        <img src="images/icon/loupe.png" alt="" />
      </div>
    </header>
    <!-----------------------------Cart-------------------------------->
    <section class="cart">
      <div class="container">
        <div class="cart-top-warp">
          <div class="cart-top">
            <div class="cart-top-cart cart-top-item">
              <img src="images/icon/shopping-cart.png" alt="" />
            </div>
            <div class="cart-top-mapmarker cart-top-item">
              <img src="images/icon/maps-and-flags.png" alt="" />
            </div>
            <div class="cart-top-moneycheck cart-top-item">
              <img src="images/icon/cheque.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="cart-content row">
          <div class="cart-content-left">
            <table>
              <tr>
                <th>Sản Phẩm</th>
                <th>Tên Sản Phẩm</th>
                <th>Mô Tả</th>
                <th>Số Lượng</th>
                <th>Thành Tiền</th>
                <th>Xóa</th>
              </tr>
              <tr>
                <td>
                  <img src="images/productha/hinhtest1.jpg" alt="" />
                </td>
                <td>
                  <p>
                    Snack cho chó Natural Core Bánh Gà Vịt Cá tuyết sấy cứng gói
                    40g
                  </p>
                </td>
                <td><p>Hương vị: Bánh gà</p></td>
                <td><input type="number" value="1" min="1" /></td>
                <td>
                  <p>31.500</p>
                  <sup>đ</sup>
                </td>
                <td><span>X</span></td>
              </tr>
              <tr>
                <td>
                  <img
                    src="images/productha/z6223606082117_577aa828dce515eaa0a93fc1feaf981e_8895d19971da426c80c5655279d07080_master.webp"
                    alt=""
                  />
                </td>
                <td>
                  <p>Balo Túi đựng chó mèo Sandysnow Phi hành gia kính vàng</p>
                </td>
                <td><p>Màu sắc: Trắng</p></td>
                <td><input type="number" value="1" min="1" /></td>
                <td>
                  <p>301,500</p>
                  <sup>đ</sup>
                </td>
                <td><span>X</span></td>
              </tr>
            </table>
          </div>
          <div class="cart-content-right">
            <table>
              <tr>
                <th colspan="2">TỔNG TIỀN GIỎ HÀNG</th>
              </tr>
              <tr>
                <td>TỔNG SẢN PHẨM</td>
                <td>1</td>
              </tr>
              <tr>
                <td>TỔNG TIỀN HÀNG</td>
                <td>
                  <p>31.500</p>
                  <sup>đ</sup>
                </td>
              </tr>
              <tr>
                <td>TẠM TÍNH</td>
                <td>
                  <p style="font-weight: bold">31.500</p>
                  <sup>đ</sup>
                </td>
              </tr>
            </table>
            <div class="cart-content-right-button">
              <button>TIẾP TỤC MUA SẮM</button>
              <a href="http://localhost:8080/delivery">
                <button>THANH TOÁN</button>
              </a>
            </div>
            <div class="cart-content-right-login">
              <p>
                Hãy <a href=""><u>ĐĂNG NHẬP</u></a> tài khoản để có thể trải
                nghiệm mua sắm tốt hơn !
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-----------------------------Footer-------------------------------->
    <div class="footer">
      <div class="contact">
        <p>Thông tin liên hệ</p>
        <li>
          <b>Mincow</b> là trang mua sắm trực tuyến các sản phẩm bán lẻ dành cho
          thú cưng của <b>Mincow Pet Shop</b>. <b>Công ty TNHH MINCOW</b>. Giấy
          chứng nhận Đăng ký Kinh doanh số 0315592769 do Sở Kế hoạch và Đầu tư
          Thành phố Hồ Chí Minh cấp ngày 28/03/2019.
        </li>
      </div>
      <div class="address">
        <p>Thông tin cửa hàng</p>
        <li><b>Địa chỉ</b>: 136 Huỳnh Văn Bánh, p. 11, quận Phú Nhuận, HCM</li>
        <li><b>0901131141</b></li>
        <li>info@mincow.vn</li>
      </div>
      <div class="support">
        <div class="suport-cus">
          <p>Chăm sóc khách hàng</p>
          <li>
            <img src="images/icon/phone-call.png" alt="" /><b>0901131141</b>
          </li>
        </div>
        <p>Follow Us</p>
        <div class="social">
          <li>
            <a href="https://www.facebook.com/profile.php?id=61572274223177"
              ><img src="images/icon/social-fb.png" alt=""
            /></a>
          </li>
          <li>
            <a href=""><img src="images/icon/play.png" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="images/icon/social-media.png" alt="" /></a>
          </li>
        </div>
      </div>
    </div>
    <script src="fescript/Home.js"></script>
  </body>
</html>
