<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="stylesheet/Owner.css" />
    <title>Document</title>
  </head>

  <body>
    <!-----------------------------Header-------------------------------->
    <header>
      <div class="header-top">
        <div class="logo">
          <a href=""><img src="images/icon/Pet Accessories & Food.png" /></a>
        </div>
        <div class="menu">
          <li>
            <a href="">HÀNG HÓA</a>
            <ul class="sub-menu">
              <li><a href="">THỨC ĂN HẠT CHO CHÓ</a></li>
              <li><a href="">PATE CHO CHÓ</a></li>
              <li>
                <a href="">BÁNH THƯỜNG <br />& ĂN VẶT CHO CHÓ</a>
              </li>
            </ul>
          </li>
          <li>
            <a href=""
              >THỨC ĂN <br />
              CHO MÈO</a
            >
            <ul class="sub-menu">
              <li><a href="">THỨC ĂN HẠT CHO MÈO</a></li>
              <li><a href="">PATE CHO MÈO</a></li>
              <li>
                <a href="">BÁNH THƯỜNG<br />& ĂN VẶT CHO MÈO</a>
              </li>
            </ul>
          </li>
          <li>
            <a href=""
              >PHỤ KIỆN <br />
              CHO CHÓ</a
            >
            <ul class="sub-menu">
              <li><a href="">QUẦN ÁO CHO CHÓ</a></li>
              <li><a href="">VÒNG CỔ & DÂY DẮT CHO CHÓ</a></li>
              <li><a href="">ĐỒ CHƠI & HUẤN LUYỆN CHO CHÓ</a></li>
              <li><a href="">BALO & TÚI ĐỰNG CHO CHÓ</a></li>
            </ul>
          </li>
          <li>
            <a href=""
              >PHỤ KIỆN <br />
              CHO MÈO</a
            >
            <ul class="sub-menu">
              <li><a href="">QUẦN ÁO CHO MÈO</a></li>
              <li><a href="">VÒNG CỔ & DÂY DẮT CHO MÈO</a></li>
              <li><a href="">ĐỒ CHƠI & HUẤN LUYỆN CHO MÈO</a></li>
              <li><a href="">BALO & TÚI ĐỰNG CHO MÈO</a></li>
            </ul>
          </li>
          <li><a href="">THƯƠNG HIỆU</a></li>
          <li><a href="">LIÊN HỆ</a></li>
        </div>
        <div class="others">
          <li>
            <a href="http://localhost:8080/cart" class="shopping-bag"
              ><ion-icon name="bag-handle"></ion-icon
            ></a>
          </li>
          <li>
            <a href="#" class="user" id="user-icon"
              ><ion-icon name="person"></ion-icon>
              <p>Đăng nhập/ Đ.kí</p>
            </a>
            <!-- Form thông tin người dùng -->
          </li>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="content">
        <div class="content-left">
          <div class="content-left-top-searchs">
            <input
              placeholder="Tìm kiếm sản phẩm..."
              type="input"
              class="search"
              name=""
              maxlength="40"
              size="20"
            />
            <img src="images/icon/loupe.png" alt="" />
          </div>
          <div class="=content-left-top-item">
            <button><span>Bộ lọc</span></button>
            <div class="sub-filter">
              <ul>
                <div class="row">
                  <li><a href="">Thức ăn hạt</a></li>
                  <li><a href="">Pate</a></li>
                  <li><a href="">Ăn vặt</a></li>
                </div>
                <div class="row">
                  <li><a href="">Quần áo</a></li>
                  <li><a href="">Vòng cổ</a></li>
                  <li><a href="">Đồ chơi</a></li>
                </div>
                <div class="row">
                  <li><a href="">Balo & túi đựng</a></li>
                </div>
              </ul>
            </div>
          </div>
          <div class="content-left-top-item">
            <select name="" id="">
              <option value="">Sắp xếp</option>
              <option value="">Giá giảm dần</option>
              <option value="">Giá tăng dần</option>
            </select>
          </div>
          <ul>
            <li class="cartegory-left-li">
              <a href="">THỨC ĂN CHO CHÓ</a>
              <ul>
                <li><a href="">THỨC ĂN HẠT</a></li>
                <li><a href="">PATE</a></li>
                <li><a href="">ĂN VẶT</a></li>
              </ul>
            </li>
            <li class="cartegory-left-li">
              <a href="">PHỤ KIỆN CHO CHÓ </a>
              <ul>
                <li><a href="">QUẦN ÁO</a></li>
                <li><a href="">VÒNG CỔ</a></li>
                <li><a href="">ĐỒ CHƠI</a></li>
                <li><a href="">BALO & TÚI ĐỰNG</a></li>
              </ul>
            </li>
            <li class="cartegory-left-li">
              <a href="">THỨC ĂN CHO MÈO </a>
              <ul>
                <li><a href="">THỨC ĂN HẠT</a></li>
                <li><a href="">PATE</a></li>
                <li><a href="">ĂN VẶT</a></li>
              </ul>
            </li>
            <li class="cartegory-left-li">
              <a href="">PHỤ KIỆN CHO MÈO </a>
              <ul>
                <li><a href="">QUẦN ÁO</a></li>
                <li><a href="">VÒNG CỔ</a></li>
                <li><a href="">ĐỒ CHƠI</a></li>
                <li><a href="">BALO & TÚI ĐỰNG</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="content-right"></div>
      </div>
    </div>
  </body>
</html>
