<!DOCTYPE html>
<html lang="en">
  <!-- visit www.codebyrolex.com  -->
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="stylesheet/Register.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <body>
      <section>
        <form>
          <h1>ĐĂNG NHẬP</h1>
          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" required />
            <label for="">Email</label>
          </div>
          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" required />
            <label for="">Mật khẩu</label>
          </div>
          <div class="forget">
            <label for=""><input type="checkbox" />Ghi nhớ</label>
            <a href="#">Quên Mật khẩu</a>
          </div>
          <button>Log in</button>
          <div class="register">
            <p>Không có tài khoản <a href="#">Đăng kí ngay</a></p>
          </div>
        </form>
      </section>
    </body>
    <!-- partial -->
  </body>
</html>
