@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.R1 {
  display: flex;
  margin-bottom: -10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("https://i.imgur.com/Z7pUIfs.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  position: relative;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

section .login {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

section .login a {
  margin-left: 5px;
  text-decoration: none;
  color: #565151;
  font-weight: bold;
}

section .login a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  color: #565151;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 15px;
  border-bottom: 2px solid #565151;
  color: #565151;
}

.inputbox:hover,
.inputbox input:not(:placeholder-shown) ~ .inputbox {
  border-bottom: 2px solid #333;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #565151;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.inputbox input:not(:placeholder-shown) ~ label,
.inputbox:hover label {
  top: -5px;
  color: #565151;
}

.inputbox input {
  width: 100%;
  max-width: 200px;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #565151;
  margin-bottom: -15px;
}

.inputbox input:not([type="password"]):-webkit-autofill,
.inputbox input:not([type="password"]):-webkit-autofill:hover,
.inputbox input:not([type="password"]):-webkit-autofill:focus,
.inputbox input:not([type="password"]):-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #565151 !important;
  border: none !important;
  background: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

.inputbox input:not([type="password"]):-webkit-autofill ~ label {
  top: -5px;
  color: #565151;
}

.inputbox input:not([type="password"]):-webkit-autofill ~ ion-icon {
  color: #565151;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #565151;
  font-size: 1.2rem;
  top: 20px;
}

.inputbox input:not(:placeholder-shown) ~ ion-icon,
.inputbox:hover ion-icon {
  color: #565151;
}

.inputbox ion-icon[name="eye-outline"],
.inputbox ion-icon[name="eye-off-outline"] {
  cursor: pointer;
}

.inputbox ion-icon[name="eye-outline"]:hover,
.inputbox ion-icon[name="eye-off-outline"]:hover {
  color: #333;
}

.inputbox .error-message {
  display: none;
  font-size: 0.7rem;
  color: #ff0000;
  margin-top: 5px;
  position: absolute;
  bottom: -25px;
  left: 5px;
}

.address .inputbox input {
  width: 350px;
}

.selectbox {
  position: relative;
  margin: 30px 15px;
  border-bottom: 2px solid #565151;
  color: #565151;
  width: 240px;
}

.selectbox label {
  position: absolute;
  top: -10%;
  left: 5px;
  transform: translateY(-50%);
  color: #706464;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.selectbox select {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #565151;
  appearance: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: -15px;
}

.selectbox option {
  background-color: rgb(248, 245, 245);
}

.selectbox ion-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #565151;
  pointer-events: none;
}

button {
  margin-left: 172px;
  width: 100%;
  max-width: 200px;
  height: 40px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

button:hover {
  background-color: #565151;
  color: rgb(255, 255, 255);
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.home a ion-icon {
  font-size: 20px;
  color: #565151;
  border: 2px solid white;
  padding: 7px;
  border-radius: 20px;
  background-color: white;
  transition: 0.3s;
}

.home a ion-icon:hover {
  background-color: #565151;
  color: white;
  border: 2px solid #565151;
}
